<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Добавить нового пользователя</title>
</head>
<body>
<form th:method="${add} ? 'POST' : 'PATCH'" th:action="${add} ? @{/users} : @{/users/edit_user/{id}(id=${user.getId()})}" th:object="${user}">
    <label for="name">Имя</label>
    <input type="text" th:field="*{name}" id="name"/>
    <br><br>
    <label for="surname">Фамилия</label>
    <input type="text" th:field="*{surname}" id="surname"/>
    <br><br>
    <label for="age">Возраст</label>
    <input type="text" th:field="*{age}" id="age"/>
    <br><br>
    <label for="email">Почта</label>
    <input type="text" th:field="*{email}" id="email"/>
    <br><br>
    <input type="submit" value="OK"/>
</form>
</body>
</html>